<ion-content>
  <div class="divDangnhap"></div>
  <div class="wrapper">
    <div id="headertop">
      <div class="namemember">
        <div class="avata"><img src="../../assets/trangchu/avata.png" alt="Avata" /></div>
        <div class="informenber">
          <p> Tên người dùng</p>
          <p class="staricon"><span>{{fullName}}</span> &nbsp; <img src="../../assets/trangchu/icon-sao.png"
            style="width: 24px; margin-bottom: -5px; margin-left: -9px;" /></p>
        </div>
      </div>
      <div class="thongbao" (click)="gotoNotification()">
        <div class="count-thongbao"><span>{{notifCount}}</span></div>
      </div>
    </div>
    <!--end headertop-->
    <div class="row1-canhan">
      <h1>{{fullName}}</h1>
      <p class="mathe">{{mobileNo}}</p>
      <!-- <img src="../../assets/dangnhap/iconthe.png" />
      <p class="diemtv">XXXX điểm nữa để lên Thành viên Đồng</p> -->
    </div>
    <!--end row1-canhan-->
    <h2 class="canhan-title">Cá nhân</h2>
    <div class="row2">
      <ul>
        <li class="firstli thongtincn" (click)="gotoUserInfo()">
          <h3><span>Thông tin cá nhân</span></h3>
        </li>
        <li class="taikhoan" (click)="gotoEditUser()">
          <h3><span>Tài khoản</span></h3>
        </li>
      </ul>
    </div>
    <!--end row2-->
    <h2 class="tintuc-title">Tin tức</h2>
    <div class="row3">
      <ul>
        <li class="dautu" (click)="goToListNews(7)">
          <h3><span>Đầu tư</span></h3>
        </li>
        <li class="xahoi" (click)="goToListNews(8)">
          <h3><span>Xã hội</span></h3>
        </li>
        <li class="taichinh lastli" (click)="goToListNews(9)">
          <h3><span>Tài chính</span></h3>
        </li>
      </ul>
    </div>
    <!--end row3-->
  </div>
</ion-content>