.imgdn{
    width: 15%;
}
.imgbaomat{
    width: 2%;
    margin-right: 3px;
}
.divDangnhap{
    background: #f8f8f8 url(../../assets/dangnhap/bg-dangnhap.png) no-repeat top;
    background-size: 100% 100%;
    height: 30%;
}
