<ion-content>
  <div class="divDangnhap"></div>
  <div id="dangnhappage1">
    <div class="headerdangnhap">
      <img class="imgdn" src="assets/dangnhap/xinchao.png" alt="Đăng nhập" />
      <h1>Chào mừng</h1>
      <p>Nếu bạn chưa có tài khoản Happy World,<br />
        hãy đăng ký ngay hôm nay!</p>
    </div>
    <div class="formdktk">
      <div class="btdktk dangnhapbt" (click)="handleLogin()"><a><span>Đăng nhập</span></a></div>
      <div class="btdktk dangkybt" (click)="showModalRegister()"><a><span>Đăng ký</span></a></div>      
    </div>
  </div>
</ion-content>
<ion-footer no-border transparent>
  <p class="baomat"><img class="imgbaomat" src="assets/dangnhap/baomat.png" alt="Bảo mật" />Mọi giao dịch trên Happy World đều được bảo mật</p>
</ion-footer>
