.rowlichsu1{    background: #ebebeb; padding: 20px 0}
.collichsu{ width: 20%; float: left;} 
.rowlichsu1 .collichsu{ font-size: 14px;font-family: 'Vnihbold'; margin-top: -7px; }
.rowlichsu .collichsu{font-size: 14px; text-align: center ; margin-top: 6px; }
.rowlichsu .ngayls{color: #808080; text-align: left; line-height: 18px; margin-top: 1px;  }
.cophieunls{font-family: 'Vnihbold';  }
.giaodichls a{    background: #0d81e4;
    padding: 4px 14px;
    border-radius: 8px;
    color: #fff;}
.rowlichsu{
    border-bottom: 1px solid #cccccc;
    height: 60px;}
.prevtitle img{
    padding-left: 10px;
    width: 24px;
}
.prevtitle{
    width: 10%;
    float: left;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    font-size: 20px;
}
.rowlichsu img{
    width: 45px;
    margin-top: -12px;
}
.rowWrapper{
    height: 100%;
    margin-top: 15px;
    padding-left: 10px;
}
.wrapper{
    padding-left: 10px;
}