<ion-content>
  <div class="wrapper">
    <div class="header-search">
      <form>
        <ion-searchbar #inputSearch placeholder="Tìm kiếm"></ion-searchbar>
      </form>
    </div>
    <div class="header-title" (click)="goBack()"><a>
        <div class="prevtitle"><img src="../../assets/naptien/icon-prev.jpg" alt="Prev" /></div>
        <h1>Lịch sử giao dịch</h1>
      </a>
    </div>
  </div>
  <div class="lichsugiaodich">
    <div class="rowlichsu1">
      <div class="wrapper">
        <div class="collichsu">Ngày</div>
        <div class="collichsu">Cổ phiếu</div>
        <div class="collichsu">Số liệu</div>
        <div class="collichsu">Giao dịch</div>
        <div class="collichsu">Thành viên</div>
      </div>
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
    <div class="rowlichsu">
      <div class="rowWrapper">
        <div class="ngayls collichsu">16:00
          23/11/2020</div>
        <div class="cophieunls collichsu">STB</div>
        <div class="solieuls collichsu">22,555</div>
        <div class="giaodichls collichsu"><a>MUA</a></div>
        <div class="thanhvienls collichsu"><img src="../../assets/groupchat/lichsugd.jpg" alt="Báo cáo" /></div>
      </div>      
    </div>
  </div>
</ion-content>