.imggoogle{
    width: 24px;
    margin-bottom: -4px;
    margin-right: 10px;
}
.ioninput{
    float: right;
    width: 80%;
    margin-top: -9px;
}
.formLogin{
    width: 90%;
}
.dangnhapbt{
    background: none !important;
}
.imgbaomat{
    width: 2%;
    margin-right: 3px;
}
.inputtk{
    margin-bottom: 10px !important;
}
.formLogin{
    margin-top: 100px;
}
.inputform label{
    width: 27% !important;
}

.ioninput{
    width: 70% !important;
}