
<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark" id="btnFab" (click)="naptien()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs (ionTabsWillChange)="change($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-page" class="{{tabActive}} home-noactive">
      <img src="../../assets/trangchu/iconhome.jpg" alt="Trang chủ" />
      <ion-label style="font-size: 11px;">Trang chủ</ion-label>
    </ion-tab-button>   
    
    <ion-tab-button tab="report" class="{{tabActive}} report-noactive">
      <img src="../../assets/trangchu/icon-baocao.jpg" alt="Báo cáo" />
      <ion-label style="font-size: 11px;">Báo cáo</ion-label>
    </ion-tab-button>
    <ion-tab-button></ion-tab-button>
    <ion-tab-button tab="group-chat" class="{{tabActive}} chat-noactive">
      <img src="../../assets/trangchu/icon-groupchat.jpg" alt="group chat" />
      <ion-label style="font-size: 11px;">Group chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="persional" class="{{tabActive}} persional-noactive">
      <img src="../../assets/trangchu/icon-canhanh.jpg" alt="Cá nhân" />
      <ion-label style="font-size: 11px;">Cá nhân</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
