<ion-content>
  <div id="naptien">
    <div class="headernaptien" (click)="goback()"><div class="prev-icon"><img src="../../assets/naptien/icon-prev.jpg" alt="Avata" /></div>
        <div class="logonaptien">
            <img src="../../assets/naptien/naptien-logo.jpg" alt="Avata" />
              <h3>Nạp tiền</h3>
              <p>Hãy lựa chọn các mức tiền bạn muốn nạp</p>
          </div>
      </div>
      <div class="content-naptien">
          <div class="wrapper">
              <div class="sotiennap">50.000<span> đ</span></div>
              <div class="sotiennap">100.000<span> đ</span></div>
              <div class="sotiennap">500.000<span> đ</span></div>
          </div>
      </div>
      <div class="bottom-naptien">
        <div class="wrapper">
              <p>Tôi muốn nhập số khác</p>
              <form>
                <ion-input class="inptMoney" appIntegerInput inputmode="numeric" type="number" placeholder="Bắt đầu từ 50.000 đ"></ion-input>
              </form>
          </div>
      </div>
  </div>
</ion-content>
