img{
    width: 150px;
}
.content-naptien .wrapper{
    width: 95%;
    margin: 0 auto;
}
ion-input{
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}
.dvNext{
    z-index: 2;
    background: #fff url('../../assets/trangchu/icon-next.jpg') no-repeat right;
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    background-size: 10px;
    margin-top: -27px;
    margin-right: 4%;
}
form{
    width: 95%;
    margin: 0 auto;
}