.imggoogle{
    width: 24px;
    margin-bottom: -4px;
    margin-right: 10px;
}
.ioninput{
    float: right;
    width: 80%;
    margin-top: -9px;
}
.formLogin{
    width: 90%;
    top: 10%;
    position: absolute;
}
.dangnhapbt{
    background: none !important;
}
.imgbaomat{
    width: 2%;
    margin-right: 3px;
}
.inputtk{
    margin-bottom: 0px !important;
}
.inputform label {
    width: 27% !important;
}
.ioninput{
    width: 70% !important;
}