<ion-content>
  <div class="divDangnhap"></div>
  <div class="wrapper">
    
    <div class="logo-gioithieu"><a><img class="imgLogoGt" src="../../assets/cacchude/logo.png" alt="Logo" /></a></div> 
      <div class="tieudebaiviet">
       <h2>Happy Wolrd phiên bản 1.0.1</h2>
         <div class="date-promotion">Ngày phát hành: 15/11/2020</div>
      </div>
      <div class="noidung-gioithieu">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         
      </div>
      <div class="thongtin-gioithieu">
        <p><strong>Chi tiết xem tại:</strong><br />
           <a href="#">www.happyworld.com</a>
         </p>
         <p><strong>Thông tin liên hệ:</strong><br />
           <a href="mailto: happywworld@gmail.com">happywworld@gmail.com</a>
         </p>
         <p><strong>Hotline:</strong><br />
           <a href="tel:0123456789">0123 456 789</a>
         </p>
      </div>
 </div>
</ion-content>
