<ion-content>
  <div id="huongdan" style="width:100%; height: 100%">
    <ion-content style="width:100%; height: 12%">
      <div class="prevdn" (click)="goback()"><a><img class="imgback" src="../../assets/naptien/icon-prev.jpg" alt="prev" /></a></div>
    <div class="menu"><a></a></div>
    </ion-content>
    <ion-content style="width:100%; height: 88%">
      <div class="content-huongdan">
        <h2>{{dataObj.title}}</h2>
        <div [innerHTML]="dataObj.contents">{{dataObj.contents}}</div>
      </div>
    </ion-content>
    
    
  </div>
</ion-content>