<ion-content>
  <div class="wrapper">
     	
    <div class="header-title" (click)="goback()"><a><div class="prevtitle"><img src="../../assets/naptien/icon-prev.jpg" alt="Prev" /></div><h1>Quên mật khẩu</h1></a>
    </div>
    <div class="diengiai">Bạn quên mật khẩu đăng nhập? Xin hãy nhập địa chỉ Email đăng ký thành viên ở đây, chúng tôi sẽ gửi lại mật khẩu mới cho bạn qua Email!</div>
    <div class="quenmatkhau">
   <form>
       <p><label>Địa chỉ email</label>
       <ion-input placeholder="Email" id="sEmail"></ion-input>
         </p>
         <div class="divInput"><input type="button" value="Gửi yêu cầu"></div>
         
     </form>	
     
     </div>
 </div>
</ion-content>