.diengiai{ font-size: 20px;
    line-height: 25px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;}
.quenmatkhau{margin-top: 15%;}
.quenmatkhau label{ font-size: 15px;
    font-weight: bold}
.quenmatkhau input{      border: none;
    width: 71%;
    margin-lefT: 30px;
    font-size: 36px;
    background: none;}
.quenmatkhau p{    border-bottom: 1px solid #436498;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;}
.quenmatkhau input[type="button"]{
        width: 95%;
        text-align: Center;
        overflow: hidden;
        background-image: linear-gradient(to right, #0e5ac0, #072c63);
        padding: 13px 0px;
        font-size: 18px;
        color: #fff;
        border-radius: 75px;
        margin: 0 auto;
}
    .prevtitle img{
        width: 22px;
    padding-left: 10px;
    padding-top: 10px;
    }
    .header-title{
        height: 60px;
    }
    .prevtitle{
        width: 8%; float: left;
    }
    .header-title h1{
        width: 92%; float: right;
        font-size: 20px !important;
        color: #000 !important;
        margin-top: 7px;
    }
    ion-input{
        float: right;
    width: 74%;
    margin-top: -9px;
    }
    .divInput{
        text-align: center;
    }