<ion-content>
  <div id="container-chude">
    <div class="wrapper">
      <div class="prevdn" (click)="goback()"><a><img class="imgback" src="../../assets/naptien/icon-prev.jpg" alt="prev" /></a></div>
      <div class="header-search">
        <form>
          <ion-input type="text" placeholder="Tìm kiếm"></ion-input>
          <button class="btn btn-danger" type="submit"><img src="../../assets/cacchude/search-icon.png" alt="Search" /></button>
        </form>
      </div>
      <h1 class="titlechude">CÁC CHỦ ĐỀ</h1>
      <div class="chude">
        <ul class="">
          <li class="tatca"><a>Tất cả</a></li>
          <li class="duan"><a>Dự án</a></li>
          <li class="tintuc"><a>Tin tức</a></li>
        </ul>
      </div>
      <div class="cacchude-xemthem">
        <h2>Dự án</h2>
        <div class="xemthem-duan"><a>XEM THÊM</a></div>
      </div>
      <div class="noidungchude">
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
      </div>
      <div class="cacchude-xemthem">
        <h2>Tin tức</h2>
        <div class="xemthem-duan"><a>XEM THÊM</a></div>
      </div>
      <div class="noidungchude">
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
        <div class="rowchude">
          <div class="imgtin"><img src="../../assets/cacchude/img-tintuc.jpg" alt="Các chủ đề" /></div>
          <div class="noidungtin">
            <h3><a>Tiêu đề bài viết</a></h3>
            <div class="datetime"><span>23/11/2020</span></div>
            <div class="description-tin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>