<ion-content>
  <div class="divDangnhap"></div>
  <div class="wrapper">
    
    <div id="headertop">
      <div class="namemember">
        <div class="avata"><img src="../../assets/trangchu/avata.png" alt="Avata" /></div>
        <div class="informenber">
          <p> Tên người dùng</p>
          <p class="staricon"><span>THÀNH VIÊN MỚI </span><img src="../../assets/trangchu/icon-sao.png"
              style="width: 24px; margin-bottom: -5px;" /></p>
        </div>
      </div>
      <div class="thongbao">
        <div class="count-thongbao"><span>15+</span></div>
      </div>
    </div>
    <!--end headertop-->
    <div class="row1">
      <div class="taisandautu">
        <h3><span>Tài sản đã đầu tư</span></h3>
      </div>
      <div class="cophieush">
        <h3><span>Cổ phiếu sở hữu</span></h3>
        <table width="100%">
          <tr>
            <td>CVM</td>
            <td class="numbercp">23</td>
          </tr>
          <tr>
            <td>CTG</td>
            <td class="numbercp">54</td>
          </tr>
          <tr>
            <td>...</td>
            <td class="numbercp">...</td>
          </tr>
        </table>
      </div>
    </div>
    <!--end row1-->
    <h2 class="huongdan-title">Hướng dẫn</h2>
    <div class="row2">
      <ul>
        <li class="firstli">
          <h3><span>Happy World là gì</span></h3>
        </li>
        <li>
          <h3><span>Cách thức đầu tư</span></h3>
        </li>
        <li>
          <h3><span>Biểu phí và lợi nhuận</span></h3>
        </li>
        <li>
          <h3><span>Quỹ đầu tư đi về đâu</span></h3>
        </li>
        <li class="lastli">
          <h3><span>Chi phí và cách rút tiền</span></h3>
        </li>
      </ul>
    </div>
    <!--end row2-->
    <h2 class="duantk-title">Dự án đang triển khai</h2>
    <div class="row3">
      <ul>
        <li class="dvgiaitri">
          <h3><span>Dịch vụ giải trí</span></h3>
        </li>
        <li class="nhahang">
          <h3><span>Nhà hàng</span></h3>
        </li>
        <li class="mocat">
          <h3><span>Mỏ cát</span></h3>
        </li>
        <li class="moda">
          <h3><span>Mỏ đá</span></h3>
        </li>
        <li class="vantai">
          <h3><span>Vận tải</span></h3>
        </li>
        <li class="batds lastli">
          <h3><span>Bất động sản</span></h3>
        </li>
      </ul>
    </div>
    <!--end row3-->
  </div>
  
</ion-content>